.container {
  padding: 20px;
  text-align: center;
}

.content {
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  transition: transform 0.3s;
}

.profileImg {
  max-width: 100px;
  margin-bottom: 10px;
}

.link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link:hover {
  transform: scale(1.05);
}
