/* CodingProfiles.module.css */

.container {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-dark); /* Dark background */
}

.content {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-text); /* Light text */
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--color-text); /* Light text */
}

.description {
  font-size: 1.2em;
  color: var(--color-primary); /* Primary color text */
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  margin: 10px;
  font-size: 1.2em;
  color: var(--color-primary); /* Primary color text */
}

.animatedBackground {
  background: linear-gradient(270deg, #3e2723, #4e342e, #3e2723, #4e342e); /* Dark animated background */
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
